html{
    font-family: Roboto, Arial;
    /*src: url("https://ufonts.com/fonts/roboto.html")*/
    font-size: 12px;
}

#main-nav-list{
    display: flex;
    list-style-type: none; 
    justify-content: flex-end;
    position: relative;
    top: 9px;
}

a{
    display: flex;
    margin: 7px;
    text-decoration: none;
    color: black;
}

main{
    position: relative;
    top: 14%;
}

#logo{
    display: block;
    margin: auto;
}

#searchbar{
    display: block;
    margin: auto;
    position: relative;
    top: 25px;
}

.buttons{
    text-align: center;
    position: relative;
    top: 80px;
}

#search{
    padding: 7px 10px 7px;
    position: relative; 
    right: 4px;
    font-size: 14px;
}

#lucky{
    padding: 7px 10px 7px;
    position: relative; 
    left: 4px;
    font-size: 14px;
}

#footer-list{
    display: flex;
    list-style-type: none; 
    position: absolute;
    bottom: 9px;
}





